/*IMPORT DES TYPOS*/

@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro:200|Source+Sans+Pro:400|Source+Sans+Pro:600');

@font-face {
    font-family: 'aveny_tbold';
    src: url('../font/avenyt-bold-webfont.woff2') format('woff2'),
         url('../font/avenyt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aveny_tmedium';
    src: url('../font/avenyt-medium-webfont.woff2') format('woff2'),
         url('../font/venyt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lacrima_serifregular';
    src: url('../font/lacrimaserif-webfont.woff2') format('woff2'),
         url('../font/lacrimaserif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    min-width: 100%;
    max-width: 100%;
}

.conteneur{
    margin: 0;
    padding: 0;
    margin-left: 8%;
    margin-right: 8%;
    position: relative;
}

.conteneur img {
    display: block;
    width: 100%;
    margin: 1.5em 0;
}









/*TOOLTIPS*/

.ui-tooltip {
    max-width: 250px!important;
    border: 2px solid black!important;
    transition: all 0!important;
    color: black!important;
    font-size: 18px!important;
    background: rgba(255,255,255,1)!important;
    font-family: Source Sans Pro!important;
    font-weight: 400!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
}

.ui-tooltip-content {
    position: relative!important;
    padding: 0.2em!important;
    text-align: center!important;
}





/*LE CACHE DE CHARGEMENT*/

.cache{
	background: rgba(10,10,10,1);
	position: absolute;
	top: 0
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100vh;
}

#wrapper_cache{
	padding-top: 38vh;
}

#phrase_preload{
	font-family: lacrima_serifregular;
	color: snow;
	font-size: 1.4em;
	text-align: center;
	opacity: 0.9;
}

.logo_preload{
	opacity: 0.7;
	width: 100px;
	display: block;
	margin: auto;
}

.logo_intro{
	opacity: 0.7;
	width: 100px;
	display: block;
	margin: auto;
	margin-top: 25px;
}

.loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid grey; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 2%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}










/*BANDEAU*/


#bandeau_echos{
    background: rgba(255,255,255,0.95);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
}

#timer{
    background: #D61D17;
    position: fixed;
    top: 50px;
    left: 0;
    height: 10px;
    width: 0%;
    z-index: 999999;
    transtion: all 0.3s;
}

#logobandeau{
    max-height: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.logo_social{
    max-height: 32px;
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    cursor: pointer;
}


/*LIENS*/

.paragraphe a{
    text-decoration: none;
    color: #D61D17;
    font-weight: bold;
    transition: all 0.2s;
    padding-left: 3px;
    padding-right: 3px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom,
                          transparent,
                          transparent 50%,
                          #D61D17 50%,
                          #D61D17);
    transition: background-position 0.2s;
}

.paragraphe a:hover{
    color: white;
    background-position: 0% 100%;
    cursor: pointer;
}




/*SCROLLAMA*/
#scrolly {
    position: relative;
    background: snow;
}

article {
    position: relative;
    padding: 0;
    max-width: 50rem;
    margin: 0 auto;
}

figure {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.step {
    margin: 0 auto;
    color: #fff;
    background-color: white;
    border: 2px solid black;
    font-size: 2em;
    color: black;
    font-family: Source Sans Pro;
    margin-bottom: 100vh;
}


.step:last-child {
    margin-bottom: 0;
}


.step p{
    text-align: center;
    padding: 1rem;
}

.step ul{
    text-align: left;
    margin-left: 1rem;
}

.step h3 {
    text-align: center;
    padding: 1rem;
}

.step img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.step .caption {
    color: grey;
    font-size: 1rem;
    padding: 1em;
    padding-top: 0.5em;
}

.step .link {
    margin: 0;
    padding: 0.5em 1em 1em;
}

.step .link a {
    color: rgba(213,67,47,1);
    text-decoration: none;
    font-weight: bold;
}


















/*INTRODUCTION*/


#intro{
    width: 100%;
    height: 100vh;
}

#titraille{
    width: 100%;
    height: 100vh;
    /*position: absolute;
    top: 0;
    left: 0;*/
    /*background: rgba(205,23,23,0.85);*/
    background: rgba(255,255,255,0.7);
    z-index: 999;
    display:table;
    background: url(../img/brexit-intro.jpg) no-repeat center center fixed;
    background-size: cover;
}

#wrapper_titraille{
    display:table-cell;
    vertical-align:middle;
}

#bloc_titre{
    background: rgba(255,255,255,0.9);
    display: block;
    width: 85%;
    max-width: 85%;
    margin: auto;
    border: 4px solid black;
    padding: 25px;
}

#wrapper_titraille img{
    display: block;
    margin: auto;
    max-width: 250px;
    margin-top: 40px;
}

h1{
    font-family: aveny_tmedium;
    font-size: 7em;
    line-height: 0.95em;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

#chapeau{
    font-family: lacrima_serifregular;
    color: black;
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    margin: auto;
    margin-top: 40px;
}


#noms_intro{
    font-family: Source Sans Pro;
    color: black;
    font-size: 2.5em;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    max-width: 90%
}







/*ELEMENTS DE CARTE*/
.carte{
    z-index: 2;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    /*width: 960px;
    height: 800px;*/
}

svg circle:hover{
    cursor: pointer;
	stroke: #cd1719;
}

.xAxis, .yAxis {
    font: 14px Source Sans Pro;
}

.xAxis path, .yAxis path, .xAxis line, .yAxis line {
    stroke: grey;
}

.xAxis text, .yAxis text {
    fill: grey;
}

.xAxis path {
    opacity: 0;
}

.annotation {
    font: 15px Source Sans Pro;
}


.flourish-embed{
    margin-top: 40px;
}


#titre_carte{
    text-align: center;
    position: fixed;
    width: 100%;
    top: 10;
    margin: auto;
    z-index: 999;
    font-family: Source Sans Pro;
    display: none;
    /*background: #D61D17;*/
    background: rgba(213,67,47,1);
    color: white;
    padding: 0.5em;
    font-weight: 600;
    font-size: 2rem;
}








/*AUTRES CONTENEURS*/

p.paragraphe{
    text-align: left;
    font-family: Source Sans Pro;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

p.premier_paragraphe{
    margin-top: 100px
}

p.dernier_paragraphe{
    margin-bottom: 100px
}
















/*Gérer l'ours*/
.reste{
    width: 100%;
    margin-top: 100vh;
}


#ours p{
	font-family: Merriweather;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	text-align: center;
	color: rgba(71,63,61,0.85);
}

#ours{
	border-top: 2px solid rgba(71,63,61,0.3);
	border-bottom: 2px solid rgba(71,63,61,0.3);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	/*margin-bottom: 30px;*/
}

.ours_nom{
	font-family: lacrima_serifregular!important;
	font-size: 1.3em;
	margin-bottom: 15px!important;
}


/*Gérer les liens (leur style)*/
#ours a, .paragraphe a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	transition: all 0.2s;
	padding-left: 3px;
	padding-right: 3px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom,
                          transparent,
                          transparent 50%,
                          rgba(231,204,30,1) 50%,
                          rgba(231,204,30,1));
    transition: background-position 0.2s;
}

#ours a:hover, .paragraphe a:hover{
	color: black;
	background-position: 0% 100%;
	cursor: pointer;
}



























/*PREVIOUSLY ON LOST*/

#previously{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    height: auto;
    background: rgba(0,0,0,0.85);
    padding-top: 20px;
    padding-bottom: 40px;
}

#wrapper_previously{
    width: 94%;
    margin: auto;
    position: relative;
    height: auto;
    /*background: snow;*/
}

.previously_item{
    width: 100%;
    position: relative;
    margin-right: 5%;
    background: rgba(0,0,0,0.9);
    display: inline-block;
    cursor: pointer;
    transition: all 0.25s;
    margin-bottom: 5%;
}

.previously_item:hover{
    opacity: 0.8;
}

.previously_item:nth-child(4){margin-right: 0!important;}

.texte_previously_item{
    font-family: lacrima_serifregular;
    color: rgba(255,255,255,0.75);
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2em;
}

.titre_previously_item{
    font-family: aveny_tmedium;
    color: rgba(255,255,255,0.9);
    font-size: 3em;
    line-height: 1em;
    margin: 0;
    margin-top: 20px;
    font-weight: 400!important;
    text-align: center;
}

#previously_retrouvez{
    margin-top: 15px!important;
    margin-bottom: 30px;
    font-family: lacrima_serifregular;
    color: rgba(255,255,255,0.5);
    font-size: 2em;
    line-height: 1em;
    text-align: center;
}

.image_previously_item{
    max-width: 100%;
}

img.vertical{
	margin-top: 8px!important;
}
